@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "leaflet/dist/leaflet.css";


@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/webFonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;

  --text-display1: 64px;
  --text-display2: 56px;

  --text-h1: 44px;
  --text-h2: 40px;
  --text-h3: 32px;
  --text-h4: 24px;
  --text-h5: 20px;
  --text-h6: 18px;

  --text-body-3xl: 44px;
  --text-body-2xl: 40px;
  --text-body-xl: 32px;
  --text-body-lg: 28px;
  --text-body-md: 24px;
  --text-body-s: 20px;
  --text-body-xs: 18px;
  --text-body-1xs: 16px;
  --text-body-xxs: 14px;
  --text-body-3xs: 12px;

  --text-btn-xlg: 20px;
  --text-btn-lg: 18px;
  --text-btn-md: 18px;
  --text-btn-s: 16px;

  --text-caption-lg: 14px;
  --text-caption-md: 12px;

  --leading-heading: 140%;
  --leading-display: 120%;
  --leading-body: 160%;
  --leading-btn-lg: 140%;
  --leading-btn-md: 130%;
  --leading-caption: 150%;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-light: 300;

  --color-primary-tint-6: #e7f1ff;
  --color-primary-tint-5: #cfe2ff;
  --color-primary-tint-4: #b6d4fe;
  --color-primary-tint-3: #9ec5fe;
  --color-primary-tint-2: #6ea8fe;
  --color-primary-tint-1: #3d8bfd;
  --color-primary: #0d6efd;
  --color-primary-shade-1: #0a58ca;
  --color-primary-shade-2: #084298;
  --color-primary-shade-3: #052c65;
  --color-primary-shade-4: #04214c;
  --color-primary-shade-5: #031633;
  --color-primary-shade-6: #010b19;

  --color-neutral-tint-6: #e7e7e7;
  --color-neutral-tint-5: #b6b6b6;
  --color-neutral-tint-4: #cecece;
  --color-neutral-tint-3: #9e9e9e;
  --color-neutral-tint-2: #6d6d6d;
  --color-neutral-tint-1: #3d3d3d;
  --color-neutral: #0c0c0c;
  --color-neutral-shade-1: #0a0a0a;
  --color-neutral-shade-2: #070707;
  --color-neutral-shade-3: #050505;
  --color-neutral-shade-4: #040404;
  --color-neutral-shade-5: #020202;
  --color-neutral-shade-6: #010101;

  --color-error: #c30000;
  --color-error-light: #ed2e2e;

  --color-success: #00966d;
  --color-success-light: #00ba88;

  --color-warning: #a9791c;
  --color-warning-light: #f4b740;
}

/* JUST USE FOR GUIDNACE */
@layer components {
  .display-1 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-display1);
    line-height: var(--leading-heading);
  }

  .display-2 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-display2);
    line-height: var(--leading-display);
  }

  .heading-h1 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h1);
    line-height: var(--leading-heading);
  }

  .heading-h2 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h2);
    line-height: var(--leading-heading);
  }

  .heading-h3 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h3);
    line-height: var(--leading-heading);
  }

  .heading-h4 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h4);
    line-height: var(--leading-heading);
  }

  .heading-h5 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h5);
    line-height: var(--leading-heading);
  }

  .heading-h6 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h6);
    line-height: var(--leading-heading);
  }

  .body-3xl {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-body-3xl);
    line-height: var(--leading-body);
  }

  .body-2xl {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-body-2xl);
    line-height: var(--leading-body);
  }

  .body-xl {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-body-xl);
    line-height: var(--leading-body);
  }

  .body-lg {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-body-lg);
    line-height: var(--leading-body);
  }

  .body-md {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-body-md);
    line-height: var(--leading-body);
  }

  .body-s {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-body-s);
    line-height: var(--leading-body);
  }

  .body-xs {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-body-xs);
    line-height: var(--leading-body);
  }

  .body-1xs {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-body-1xs);
    line-height: var(--leading-body);
  }

  .body-xxs {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-body-xxs);
    line-height: var(--leading-body);
  }

  .body-3xs {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-body-3xs);
    line-height: var(--leading-body);
  }

  .btn-xlg {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-btn-xlg);
    line-height: var(--leading-btn-lg);
  }

  .btn-lg {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-btn-lg);
    line-height: var(--leading-btn-lg);
  }

  .btn-md {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-btn-md);
    line-height: var(--leading-btn-md);
  }

  .btn-s {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-btn-s);
    line-height: var(--leading-btn-md);
  }

  .caption-lg {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-light);
    font-size: var(--text-caption-lg);
    line-height: var(--leading-caption);
  }

  .caption-md {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-light);
    font-size: var(--text-caption-md);
    line-height: var(--leading-caption);
  }

  .scroll-area::-webkit-scrollbar {
    display: none;
  }

  .scroll-area {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
